*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
}
.menu{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    background: rgb(145, 27, 108);
    color: rgb(199, 210, 219);
    margin-bottom: 20px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;

}
.heading>h1{
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;

}
.heading>h5{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

nav {
    background-color: #333;
    height: 70px;
    display: flex;
    align-items: center;
  }
  
  .navbar {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
  }
  
  .navbar a:hover {
    color: #f00;
  }
  
  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(image/th\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  .navbar>p{
    color: rgb(54, 54, 53);
    font-size: 15px;
    line-height: 20px;
    font-weight: 200;
    align-self: stretch;
  }

.ICE-CREAM-ITEMS{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.6);
    transition: .2s ease-in-out;
}
.ICE-CREAM-ITEMS img{
    position: relative; 
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    

} 
.h1{
    grid-column: 1/-1;
    text-align: center;
}
.details{
    padding:20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details>p{
    color: rgb(54, 54, 53);
    font-size: 15px;
    line-height: 20px;
    font-weight: 200;
    align-self: stretch;
}
.details>button{
    background-color: rgb(224, 27, 89);
    border: none;
    color: aquamarine;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    cursor: pointer;

}
.details>button:hover{
    background-color: rgb(153, 13, 37);
}
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    
  }
  
 
  

